body {
  background-image: linear-gradient(to right, #a8c0ff, #3f2b96);
}

.container {
  padding: 30px;
}

.card {
  margin: 10px;
}

.navbar * {
  /* background-color: #e3f2fd; */
  color: antiquewhite !important;
}