extends layout

block content
	h2.form-signin-heading Login to your account
	form(action='/login' method='post').form-signin
		fieldset
			label(for='username').sr-only Name
			input(type='text' name='username' placeholder='Your Name').form-control
			label(for='password').sr-only Password
			input(type='password' name='password' placeholder='Your Password').form-control
			button(type='Login' class='btn btn-lg btn-primary btn-block') Sign In
			h4
				span(class='label label-danger')= message